<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-padrao}">
<head>
</head>
<body>
<section layout:fragment="conteudo">
    <div class="container my-5">
        <h2>Formulário de Cadastro - Livro</h2>

        <div class="row">
            <form th:action="@{/livro}" method="post" th:object="${livro}">
                <div class="row">
                    <div class="form-group">
                        <label for="id">Código</label>
                        <input type="text" class="form-control" th:field="*{id}" readonly/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label for="titulo">Título</label>
                        <input type="text" class="form-control" th:field="*{titulo}"/>
                        <span th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label for="ano">Ano</label>
                        <input type="number" class="form-control" th:field="*{ano}"/>
                        <span th:if="${#fields.hasErrors('ano')}" th:errors="*{ano}" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label for="isbn">Isbn</label>
                        <input type="text" class="form-control" th:field="*{isbn}"/>
                        <span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label for="valor">Valor</label>
                        <input type="text" class="form-control" th:field="*{valor}"/>
                        <span th:if=" ${#fields.hasErrors('valor')}" th:errors="*{valor}" class="text-danger"></span>
                    </div>
                </div> <!-- FIM VALOR -->

                <div class="row">
                    <div class="form-group">
                        <label for="autor">Autor</label>
                        <select class="form-control" th:field="*{autor}">
                            <option value=""> (selecione)</option>
                            <option th:each="autor: ${autores}" th:value="${autor.id}" th:text="${autor.nome}"></option>
                        </select>
                        <span th:if="${#fields.hasErrors('autor')}" th:errors="*{autor}" class="text-danger"></span>
                    </div>
                </div> <!-- FIM AUTOR -->

                <div class="row">
                    <div class="form-group">
                        <label for="cidade">Cidade</label>
                        <select class="form-control" th:field="*{cidade}">
                            <option value=""> (selecione)</option>
                            <option th:each="cidade: ${cidades}" th:value="${cidade.id}" th:text="${cidade.nome}"></option>
                        </select>
                        <span th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}" class="text-danger"></span>
                    </div>
                </div> <!-- FIM CIDADE -->

                <div class="row">
                    <div class="form-group">
                        <label for="editora">Editora</label>
                        <select class="form-control" th:field="*{editora}">
                            <option value=""> (selecione)</option>
                            <option th:each="editora: ${editoras}" th:value="${editora.id}" th:text="${editora.nome}"></option>
                        </select>
                        <span th:if="${#fields.hasErrors('editora')}" th:errors="*{editora}" class="text-danger"></span>
                    </div>
                </div> <!-- FIM EDITORA -->

                <div class="row">
                    <div class="form-group">
                        <label for="genero">Gênero</label>
                        <select class="form-control" th:field="*{genero}">
                            <option value=""> (selecione)</option>
                            <option th:each="genero: ${generos}" th:value="${genero.id}" th:text="${genero.descricao}"></option>
                        </select>
                        <span th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}" class="text-danger"></span>
                    </div>
                </div> <!-- FIM GENERO -->

                <div class="row">
                    <button class="btn btn-primary" type="submit">Salvar
                    </button>
                </div>
            </form>
        </div> <!-- FIM div row -->
    </div>
</section>
</body>
</html>








