<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-padrao}">
<head>
</head>
<body>
<section layout:fragment="conteudo">
    <div class="container my-5">
        <h1>Lista de Livros</h1>
        <div class="row">
            <div class="col-md-6">
                <div th:if="${!#strings.isEmpty(sucesso)}" class="alert alert-success">
                    <i class="fa fa-check-circle"></i>
                    <span th:text="${sucesso}">Mensagem de sucesso!</span>
                </div>

                <div th:if="${!#strings.isEmpty(erro)}" class="alert alert-danger">
                    <i class="fa fa-trash"></i>
                    <span th:text="${erro}">Mensagem de erro!</span>
                </div>
            </div>
        </div>
        <a class="btn btn-primary" th:href="@{/}">
            <i class="fa fa-home"></i>
        </a>
        <a class="btn btn-primary" th:href="@{/livro/new}">
            <i class="fa fa-plus"></i> Novo
        </a>

        <table class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th>Código</th>
                <th>Título</th>
                <th>Ano</th>
                <th>Isbn</th>
                <th>Valor</th>
                <th>Autor</th>
                <th>Cidade</th>
                <th>Editora</th>
                <th>Gênero</th>
                <th>Editar</th>
                <th>Remover</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="livro : ${livros}">
                <td th:text="${livro.id}">código</td>
                <td th:text="${livro.titulo}">título</td>
                <td th:text="${livro.ano}">ano</td>
                <td th:text="${livro.isbn}">isbn</td>
                <td th:text="'R$ ' + ${#numbers.formatDecimal(livro.valor,3,'POINT',2,'COMMA')}"></td>
                <td th:text="${livro.autor.nome}"></td>
                <td th:text="${livro.cidade.nome}"></td>
                <td th:text="${livro.editora.nome}"></td>
                <td th:text="${livro.genero.descricao}"></td>
                <!-- EDITAR -->
                <td>
                    <a th:href="@{/livro/{id}(id=${livro.id})}" class="btn btn-primary">
                        <i class="fa fa-edit ml-2"></i>
                    </a>
                </td>
                <!-- REMOVER -->
                <td>
                    <form th:method="delete" th:action="@{/livro/{id}?_method=DELETE(id=${livro.id})}">
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-trash ml-2"></i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table> <!-- FIM TABLE -->
    </div>
</section>
</body>
</html>